ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header, footer, .section {
padding-top: 30px; 
padding-bottom: 30px; 
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}
.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto; 
  padding-left: 15px;
  padding-right: 15px;
}
/* header */
.header {
  background-image: linear-gradient(
    to right,rgba(43, 74, 97, 0.87),
    rgba(43, 74, 97, 0.87)
  ), url(../images/Header-Foooter\(jpg\).jpg);
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1440px;
  display: flex;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 204px;
  padding-right: 48px;
  border-bottom: 3px solid white;
}
.ua {
  
}
.link-ua {

}
.header-position {
  display: flex;
  justify-content: space-between;
}
.header-list {
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
  column-gap: 50px;
}
.header-item {
  color: white;
  font-family: var(--font-family);
}
.header-item:hover {
  color: #94CFFF;
}
.button-header {
  width: 141px;
  height: 41px;
  margin-top: 20px;
  border-color: #26C6EA;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #0B0E66;
  color: #26C6EA;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}
.switcher {
  
}
/* header end */
/* main  */
.section-1 {

}
.section-3 {
  padding-top: 100px;
  padding-bottom: 5px;
}
.section-4 {

}
.section-5 {
  padding-top: 100px;
  padding-bottom: 5px;
}
.section-6 {

}
.section-7 {
  padding-top: 100px;
  padding-bottom: 5px;
}

.section-1-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-section-1 {
  width: 260px;
  height: 80px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #26c7ea;
  border-color: #26C6EA;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #0B0E66;
  color: #26C6EA;
  margin-top: 50px;
  cursor: pointer;
}
.section-1 {
  background-image: url(../images/section-1.jpg);
  height: 740px;
  width: 1440px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.h3-section-1 {
  color: white;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  padding-top: 185px;
}
.h3-section-1-second {
  color: white;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
}
.h2-section-3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: #0a3853;
  align-items: center;
}
.p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: justify;
  color: #000;
  margin-left: 440px;
}
.orel-img {
  margin: 0 auto;
  display: flex;
}
.section3-position {

}
.list-section-1 {
  margin-top: 260px;
}
.item-section-1 {
  margin: 10px;
}
.button-section-4 {
  width: 260px;
  height: 80px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  color: #26c7ea;
  border-color: #26C6EA;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  background-color: #0B0E66;
  margin-top: 330px;
  margin-left: 330px;
  cursor: pointer;
}
.section-1-position {

}
.section-4 {
  background-image: url(../images/smotretTREYLER.png);
  width: 1440px;
  height: 740px;
  margin: 0 auto;
}
.section-6 {
  background-image: url(../images/kartochki.png);
  width: 1440px;
  height: 704px;
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 57px;
}
.p-section-7 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: justify;
  color: #000;
  margin-left: 473px;
}
.h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: #141414;
}
.list-section-1 {
  margin-right: px;
  /* margin-left: 982px; */
}
.h2-section-6 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  text-align: justify;
  color: #141414;
  margin-left: 373px;
  margin-bottom: 60px;
}

.list-section-6 {
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
  row-gap: 24px;
}
.article-item-1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 120px;
  padding-top: 36px;
}
.article-item-2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 90px;
  padding-top: 36px;
}
.article-item-3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 100px;
  padding-top: 45px;
}
.article-item-4 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 122px;
  padding-top: 36px;
}
.article-item-5 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 89px;
  padding-top: 45px;
}
.article-item-6 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 62px;
  padding-top: 42px;
}
.articlee-item-1 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 122px;
  padding-top: 120px;
}
.articlee-item-2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 40px;
  padding-top: 120px;
}
.articlee-item-3 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 105px;
  padding-top: 120px;
}
.articlee-item-4 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 112px;
  padding-top: 120px;
}
.articlee-item-5 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 55px;
  padding-top: 120px;
}
.articlee-item-6 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: justify;
  color: #141414;
  padding-left: 98px;
  padding-top: 120px;
}
.item-section-6-5,
.item-section-6-4,
.item-section-6-3,
.item-section-6-2,
.item-section-6-1,
.item-section-6 {
  background: rgba(255, 255, 255, 0.7);
  flex-basis: calc((100% - 2 * 36px) / 3);
  height: 240px;
}
.item-section-6 {
  background-image:url(../images/strelavlevo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.item-section-6-1 {
  background-image:url(../images/orelmalenki.png);
  background-repeat: no-repeat;
  background-position: center;
}
.item-section-6-2 {
  background-image:url(..//images/strelavpravo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.item-section-6-3 {
  background-image:url(../images/strelavlevo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.item-section-6-4 {
  background-image:url(../images/orelmalenki.png);
  background-repeat: no-repeat;
  background-position: center;
}
.item-section-6-5 {
  background-image:url(../images/strelavpravo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.span-section-7 {
  margin-left: 50px;
}
.second-span-section-7 {
  margin-left: 107px;
}
.span-section-5 {
  margin-left: 100px;
}
.second-span-section-5 {
  margin-left: 270px;
}
.section-3-span {
  margin-left: 158px;
}
/* main end  */
/* footer */
.footer {
  background: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url(../images/Header-Foooter\(jpg\).jpg) center/cover no-repeat;
  padding-top: 35px;
  padding-bottom: 25px;
  width: 1440px;
  margin: 0 auto;
}
.footer-position{
  display: flex;
}
.logo-footer {
  border-right: 2px solid white;
  padding-right: 80px;
  padding-top: 42px;
  padding-bottom: 42px;
}

.contact-text:nth-child(1) {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
  margin-left: 80px;
  margin-right: 309px;
}
.contact-item:nth-child(2) > .contact-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
  margin-left: 80px;
  margin-right: 239px;
}
.contact-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.contact-list {
  margin-top: 45px;
}
.contact-item {
  display: flex;
}
.contact-item + .contact-item {

}
.contact-item:nth-child(1) {
  width: 745px;
  background-image: url(../images/Vector\ 9.png);
  background-repeat: no-repeat;
  background-size: 269px;
  background-position: 205px;
}
.contact-item:nth-child(2) {
  width: 769px;
  background-image: url(../images/Vector\ 9.png);
  background-repeat: no-repeat;
  background-size: 194px;
  background-position: 280px;
  padding-top: 15px;
}
.informatie {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-left: 470px;
}
/* footer end  */